@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


/* Rest  */
*, a {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

.white-txt {
    color: var(--white);
}

.grey-txt {
    color: var(--grey);
}

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--very-dark-blue);
    line-height: 1.5;
}

.card {
    padding: 1.75rem 1.35rem;
    background-color: var(--dark-blue);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 300px;
}

.star-wrapper {
    background-color: var(--medium-grey);
    width: 32px;
    border-radius: 50%;
}

.star {
    background: url('/images/icon-star.svg') no-repeat center;
    padding: 1rem;
    border-radius: 50%;
    background-color: transparent;
    backdrop-filter: brightness(40%);
}

.rating {
    display: flex;
    justify-content: space-between;
}

.rating .number {
    padding: .5rem 1rem;
    border-radius: 50%;
    color: var(--medium-grey);
    background-color: hsl(213, 19%, 25%);
    cursor: pointer;
}

.rating .number a {
    cursor: pointer;
}


.btn {
    padding: 1rem;
    border: none;
    border-radius: 50px;
    background-color: var(--orange);
    color: var(--white);
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}


/* Hover events */
.number:hover {
    background-color: var(--grey);
    color: var(--white);
}

.btn:hover {
    background-color: var(--white);
    color: var(--orange);
}